.fader {
  $width: 20px;
  $height: 100px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;

  &__input:focus + &__control &__range {
    background: rgba(#94d500, 0.5);
  }

  &__control {
    position: relative;
    width: $width;
    height: $height;
  }

  &__range {
    width: 2px;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: $height;
    background: black;
  }

  &__knob {
    position: absolute;
    top: 0;
    transition: top .3s;
    width: $width;
    height: 10px;
    border-radius: 3px;
    border: 1px solid black;
    background: white;
    box-sizing: border-box;
  }

  &__name, &__value {
    font-family: sans-serif;
    font-size: 10px;
  }

  &__input {
    // the browser won't tab focus hidden fields, so we fake hide it
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
