@import url('https://fonts.googleapis.com/css?family=Audiowide|Noto+Sans:400,700&display=swap');

$font-primary: 'Audiowide', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;

$color-000: #141414;
$color-001: #262626;
$color-002: #333;
$color-004: #9EC7D8;
$color-100: #fefefe;
