@import '../style/theme';
@import '../style/mixins';

.button {
  @include control;
  display: flex;
  align-items: center;
  justify-content: center;

  &__name {
    margin-right: 3px;
    position: relative;
    bottom: 1px;
  }

  &__button {
    @include bordered;
    width: 10px;
    height: 10px;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 3px;
    padding: 3px;

    &--on {
      background: $color-004;
    }

    &:focus,
    &:active {
      outline: 0;
    }
  }
}